.popup-box{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0,0.15);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert__box{
    height: 206px;
    width: 390px;
    background-color: #fff;
}

.closeBtn{
    cursor: pointer;
    font-size: 25px;
    border: none;
    background-color: #5861AE;
    color: white;
}

.alertHeader, .alert__content{
    padding: 0.8rem 1.2rem;
    font-size: 0.9rem;
}

.alertHeader{
    background-color: #5861AE;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    min-height: 20px;
    color: white;
}

.alert__content{
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    text-align: center;
    height: 125px;
}
.warningIcon{
    height: 35px;
    width: 35.67px;
    margin: 0;
}

.alertMessage{
    text-align: center;
    line-height: 1.5rem;
    margin-bottom: 1.8rem;
}
.proceed-btn{
    width:100%;
    margin-top: 50px;

}
button.proceed-btn{
    width:107px;
    height:32px;
    padding: 0px;
    border-radius: 4px;
    opacity: 1;
    text-align: left;
    font: normal normal 600 14px/48px Open Sans;
    letter-spacing: 0px;
}
.proceed-btn button{
    background: #5861AE 0% 0% no-repeat padding-box;
    border: 1px solid #5861AE;
    color: #FFFFFF;
}